<html>
	<head>
    <% include head.html %>
  </head>

  <body style="text-size: 24px">
    <div class = "wrapper">
      <% include header.html %> 
    </div>

    <div class = "content">
    <form >
      <fieldset style="margin: 30px 10px; ">
        <legend align="center">Feed Us:</legend>
        <div id="quesRes" class="fl w-100"></div>
      </fieldset>
      </form>
    </div>
    <% include footer.html %>

    <script>

    var quizObj = [
      {
        "question": "Is this toilet open? क्या यह शौचालय खुला है?",
        "choice": ["Yes હા", "No ના"]
      },
      {
        "question": "Is it Women-friendly? क्या यह महिलाओं के अनुकूल है?",
        "choice": ["Yes હા", "No ના"],  //quizObj[2].choice[0],quizObj[2].choice[1]
      },
      {
        "question": "Is this clean toilet? क्या यह स्वच्छ शौचालय है?",
        "choice": ["Yes હા", "No ના"],  //quizObj[2].choice[0],quizObj[2].choice[1]
      },
      {
        "question": "Is water facility available? क्या पानी की सुविधा उपलब्ध है?",
        "choice": ["Yes હા", "No ના"],  //quizObj[2].choice[0],quizObj[2].choice[1]
      },
      {
        "question": "Are taps working properly? नल ठीक से काम कर रहे हैं?",
        "choice": ["Yes હા", "No ના"],  //quizObj[2].choice[0],quizObj[2].choice[1]
      }

    ];

    var track = [];

    var maxQues = 5;
    var ne = 1;
    var rand = Math.floor(Math.random() * maxQues);

    var str = '<div class="container"><h2 class="header"></h2><br><h4>';

    for (var i = 0; i < ne; i++) {

      var rand = Math.floor(Math.random() * maxQues);
      str += quizObj[rand].question + '<h4>';
      str += '<form><table>' +
        '<tr><td id="a1" ><a class="f6 link dim br3 ph3 pv2 mb2 dib white bg-dark-green" href="/nearby">Yes | हा </a></td><td id="a2"><a class="f6 link dim br3 ph3 pv2 mb2 dib white bg-dark-red" href="/nearby">No | नहीं</a></td></tr>' +
        '<tr></tr>' +
        '</table></form>';
      track[i] = rand;
    }
    document.getElementById('quesRes').innerHTML = str;
  </script>
  </body>

</html>
